.welcome-massage{
    margin-bottom:40px;
}
.welcome-massage-white{
    text-align: center;
    background-color: blueviolet;
    color: white;
    font-size: 50px;
    padding: 60px;
}
.welcome-massage-orange{
color: orange;
}

.first-blog{
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}
.second-blog{
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}
.third-blog{
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}
.fourth-blog{
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    /* box-shadow: 10px 10px 10px saddlebrown; */
}
.full-blog{
    margin: 50px;
    background-color: blueviolet;
    color: rgb(238, 244, 246);
    font-size: 25px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px saddlebrown;
}